[submodule "JayVora-SerpentCS/OdooEduERP"]
	path = JayVora-SerpentCS/OdooEduERP
	url = git@github.com:JayVora-SerpentCS/OdooEduERP.git
	branch = 10.0

[submodule "hidext/infinity"]
	path = hidext/infinity
	url = git@github.com:hidext/infinity.git
	branch = 10.0

[submodule "OCA/management-system"]
	path = OCA/management-system
	url = git@github.com:OCA/management-system.git
	branch = 10.0
